<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Events</title>
  <meta name="theme-color" content="#563d7c">
</head>
<body class="d-flex flex-column">
<main role="main">
  Your RSVP was succesfully cancelled.
</main>
</body>
</html>

